body {
    background: black;
    color: white;
    font-size: 8vmin;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

input {
    background: #222222;
    color: white;
    font-size: 100%;
    border: none;
}

input:focus {
    outline: none;
}
